{% extends 'inventario/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/chat/chat.css' %}" rel="stylesheet">

<div class="container">
  <div class="row mt-3">
    <div class="card card-chat rounded-start-lg-0 border-start-lg-0">
      <div class="card-body h-100">
        <div class="tab-content py-0 mb-0 h-100" id="chatTabsContent">
          <div class="fade tab-pane show active h-100" id="chat-1" role="tabpanel" aria-labelledby="chat-1-tab">
            <div class="d-sm-flex justify-content-between align-items-center">
              <div class="d-flex mb-2 mb-sm-0">
                <div class="flex-shrink-0 avatar me-2">
                  <img class="avatar-img rounded-circle max-100 h-60" src="{% static 'imagenes/bot.png' %}">
                </div>
                <div class="d-block flex-grow-1">
                  <h6 class="mb-0 mt-1">Inventa BOT</h6>
                  <div class="small text-secondary"><i class="mdi mdi-circle text-success me-1"></i>Online</div>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <a class="rounded-circle btn btn-primary-soft me-2 px-2" data-target="chatToast" href="{% url 'chat' %}"><i class="mdi mdi-square-edit-outline fs-2"></i></a>
              </div>
            </div>
            <hr>
            <div class="chat-conversation-content custom-scrollbar" id="chat-mensajes">
              <div class="d-flex mb-1">
                <div class="flex-shrink-0 avatar avatar-xs me-2">
                  <img class="avatar-img rounded-circle max-100" src="{% static 'imagenes/bot.png' %}">
                </div>
                <div class="flex-grow-1">
                  <div class="max-75 w-auto">
                    <div class="d-flex flex-column align-items-start">
                      <div class="bg-light text-secondary p-2 px-3 rounded-2">Hola, en que puedo ayudarte hoy 😎</div>
                      <div class="small my-2" id="hora-actual"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-sm-flex align-items-end">
          <textarea class="form-control mb-sm-0 mb-3" data-autoresize placeholder="Ingresa tu mensaje" rows="1" id="mensaje"></textarea>
          <button class="btn btn-sm btn-primary ms-2" id="enviar"><i class="mdi mdi-send fs-6"></i></button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="url-chat" value="{% url 'chat_api' %}">
  <input type="hidden" id="url-imagen" value="{% static 'imagenes/bot.png' %}">
</div>
<script src="{% static 'js/chat/chat.js' %}"></script>
<script src="{% static 'js/chat/marked.js' %}"></script>

{% endblock %}
