{% extends "inventario/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}
<div class="container fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ventas</a></li>
                        <li class="breadcrumb-item active">Crear venta</li>
                    </ol>
                </div>
                <h3 class="page-title">Crear venta</h3>
            </div>
        </div>
    </div>

    <form id="form_sale" action="{% url 'crearVenta' %}" class="saleForm" method="post">
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Seleccionar productos</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="searchbox_items" class="form-label">Buscar productos:</label>
                            <select class="form-select select2" name="searchbox_items" id="searchbox_items"
                                aria-label="Search items"></select>
                        </div>

                        <button type="button" class="btn btn-danger btn-sm mb-4 deleteAll">
                            <i class="fas fa-trash-alt me-2"></i> Eliminar producto
                        </button>

                        <div class="table-responsive my-3">
                            <table class="table table-bordered table-striped" id="table_items">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Detalles de venta</h5>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="customer" class="form-label">Cliente</label>
                            <select name="customer" class="form-select" id="customer" aria-label="Customer" required>
                                <option value="" selected disabled hidden>Seleccionar cliente</option>
                                {% for cliente in clientes %}
                                <option value="{{ cliente.cliente_id }}">{{ cliente.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="total" class="form-label">Total</label>
                            <input name="total" type="number" class="form-control" id="total"
                                aria-label="Subtotal" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="impuesto" class="form-label">Monto de impuesto (18%)</label>
                            <input name="impuesto" type="number" class="form-control" id="impuesto"
                            readonly>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Crear venta</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/3.1.0/jquery.bootstrap-touchspin.min.js"
    defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.all.min.js" defer></script>

<script>
    function roundTo(n, digits) {
        if (digits === undefined) {
            digits = 0;
        }

        var multiplicator = Math.pow(10, digits);
        n = parseFloat((n * multiplicator).toFixed(11));
        return Math.round(n) / multiplicator;
    }

    var numero = 1;

    var sale = {
        venta: {
            cliente: "",
            total: 0.00,
            productos: []
        },
        calcularCosto: function () {
            var total = 0.00;

            $.each(this.venta.productos, function (pos, dict) {
                dict.pos = pos;
                dict.subtotal = roundTo(dict.quantity * dict.precio, 2);
                total += roundTo(dict.subtotal, 2);
            });

            this.venta.total = roundTo(total, 2);

            $('input[name="total"]').val(this.venta.total);
            $('input[name="impuesto"]').val(roundTo(this.venta.total * 0.18, 2));
        },
        // Adds an item to the sale object
        agregarProducto: function (producto) {
            this.venta.productos.push(producto);
            this.listarProductos();
        },
        // Shows the selected item in the table
        listarProductos: function () {
            // Calculate the sale
            this.calcularCosto();

            tblItems = $("#table_items").DataTable({
                destroy: true,
                data: this.venta.productos,
                columns: [
                    {"data": "numero"},
                    {"data": "nombre"},
                    {"data": "precio"},
                    {"data": "quantity"},
                    {"data": "total_product"},
                    {"data": "id"},
                ],
                columnDefs: [
                    {
                        class: 'text-center',
                        targets: [3],
                        render: function (data, type, row) {
                            return '<input name="quantity" type="text" class="form-control form-control-xs text-center input-sm" autocomplete="off" value="' + row.quantity + '">';
                        },
                    },
                    {
                        class: 'text-right',
                        targets: [2, 4],
                        render: function (data, type, row) {
                            return parseFloat(data).toFixed(2) + ' $';
                        },
                    },
                    {
                        class: 'text-center',
                        targets: [-1],
                        orderable: false,
                        render: function (data, type, row) {
                            return '<a rel="delete" type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Delete item"> <i class="mdi mdi-delete"></i> </a>';
                        },
                    },
                ],
                rowCallback(row, data, displayNun, displayIndex, dataIndex) {
                    $(row).find("input[name='quantity']").TouchSpin({
                        min: 1,
                        max: 100, // Máximo de acuerdo al stock de cada itemo
                        step: 1,
                        decimals: 0,
                        boostat: 1,
                        maxboostedstep: 3,
                        postfix: ''
                    });
                },
            });
        },
    };

    $(document).ready(function () {
        $('#searchbox_customers').select2({
            delay: 250,
            placeholder: "Seleccionar cliente",
            allowClear: true,
            minimumInputLength: 1,
            ajax: {
                url: "{% url 'obtenerClientes' %}",
                type: 'POST',
                data: function (params) {
                    return {
                        term: params.term,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() // Include CSRF token
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        }).on('select2:select', function (e) {
            var data = e.params.data;
            sale.venta.cliente = data.cliente_id;
        });

        $('#searchbox_items').select2({
            delay: 250,
            placeholder: 'Buscar producto',
            minimumInputLength: 1,
            allowClear: true,
            templateResult: template_item_searchbox,
            ajax: {
                url: "{% url 'obtenerProductos' %}",
                type: 'POST',
                data: function (params) {
                    return {
                        term: params.term,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        }).on('select2:select', function (e) {
            var data = e.params.data;
            data.producto_id = data.id;
            data.total_product = data.precio
            data.numero = numero;
            numero++;
            console.log(`producto ${JSON.stringify(data)}`);
            sale.agregarProducto(data);
            $(this).val('').trigger('change.select2');
        });

        $('#table_items tbody').on('click', 'a[rel="delete"]', function () {
            var tr = tblItems.cell($(this).closest('td, li')).index();
            producto_nombre = (tblItems.row(tr.row).data().nombre);

            Swal.fire({
                customClass: {
                    confirmButton: 'ml-3 btn btn-danger',
                    cancelButton: 'btn btn-success'
                },
                buttonsStyling: false,
                title: "¿Esta seguro que desea elimar el producto de la compra?",
                text: producto_nombre,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    sale.venta.productos.splice(tr.row, 1);
                    sale.listarProductos();
                    Swal.fire('El producto a sido eliminado', '', 'success');
                }
            });
        }).on('change keyup', 'input[name="quantity"]', function () {
            var quantity = parseInt($(this).val());
            var tr = tblItems.cell($(this).closest('td, li')).index();
            sale.venta.productos[tr.row].quantity = quantity;
            sale.calcularCosto();
            $('td:eq(4)', tblItems.row(tr.row).node()).html(sale.venta.productos[tr.row].subtotal + ' $');
        });

        $('.deleteAll').on('click', function () {
            if (sale.venta.productos.length === 0) return false;
            Swal.fire({
                customClass: {
                    confirmButton: 'ml-3 btn btn-danger',
                    cancelButton: 'btn btn-success'
                },
                buttonsStyling: false,
                title: "¿Esta seguro que desea eliminar todos los productos de la venta?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar todos',
                cancelButtonText: 'Cancelar',
                reverseButtons: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    sale.venta.productos = [];
                    sale.listarProductos();
                    Swal.fire('Se eliminaron todos los productos', '', 'success');
                }
            });
        });

        tblItems = $('#table_items').DataTable({
            columnDefs: [
                {
                    targets: [-1],
                    orderable: false,
                }
            ],
        });

        function template_item_searchbox(repo) {
            return $(`
                <div class="card mb-3">
                    <div class="card-body">
                        <small class="card-title">${repo.nombre}</small>
                    </div>
                </div>
            `);
        }

        function getAjax(type, url, data, successCallback, errorCallback) {
            $.ajax({
                type: type,
                url: url,
                data: data,
                success: successCallback,
                error: errorCallback
            });
        }

        function roundTo(value, decimals) {
            const factor = Math.pow(10, decimals);
            return Math.round(value * factor) / factor;
        }

        $('form#form_sale').on('submit', function (event) {
            event.preventDefault();

            var amountPaid = parseFloat($('input[name="amount_paid"]').val());
            var grandTotal = parseFloat($('input[name="grand_total"]').val());
            var amountChange = roundTo(amountPaid - grandTotal, 2);

            // Gather sale details
            var formData = {
                cliente: $('select[name="customer"]').val(),
                total: $('input[name="total"]').val(),
                productos: sale.venta.productos
            };

            var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

            // Submit the form data via AJAX
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: JSON.stringify(formData),
                success: function (response) {
                    sale.venta.productos = [];
                    sale.listarProductos();
                    $('form#form_sale').trigger('reset');
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'La venta se completo exitosamente'
                    });
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: xhr.responseJSON.message || 'Ocurrio un error en la venta'
                    });
                }
            });
        });
    });
</script>

{% endblock javascripts %}