{% extends 'inventario/base.html' %}

{% block content %}
<!-- Header Section -->
<div class="container my-4">
    <div class="card shadow-sm rounded p-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="display-6 mb-0 text-success">Clientes</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-end gap-2">
                <a class="btn btn-success btn-sm rounded-pill shadow-sm" href="{% url 'crearCliente' %}">
                    <i class="fa-solid fa-plus"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <style>
        .table th,
        .table td {
            text-align: center;
        }
    </style>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dni</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.dni }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.fecha_creacion }}</td>
                <td>
                    <a href="{% url 'editarCliente' cliente.cliente_id %}" class="btn btn-outline-primary btn-sm me-2">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <button type="button" class="btn btn-danger btn-sm btn-eliminar d-inline-flex"
                        data-id="{{ cliente.cliente_id }}">
                        <i class="mdi mdi-delete"></i>Eliminar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function eliminarCliente(btnEliminar) {
        const ventaId = btnEliminar.getAttribute('data-id');
        const fila = btnEliminar.closest('tr');

        if (confirm('¿Estás seguro de que desea eliminar este cliente?')) {
            btnEliminar.disabled = true;
            btnEliminar.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Eliminando...';

            fetch(`/ventas/clientes/${ventaId}/eliminar`, {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => {
                    if (!response.ok) throw new Error("Error en la respuesta del servidor");
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        fila.remove();
                    } else {
                        btnEliminar.disabled = false;
                        btnEliminar.innerHTML = '<i class="mdi mdi-delete"></i> Eliminar';
                        console.log('Error al eliminar el servidor:', data.message);
                    }
                })
                .catch(error => {
                    btnEliminar.disabled = false;
                    btnEliminar.innerHTML = '<i class="mdi mdi-delete"></i> Eliminar';
                    console.error('Error al eliminar el cliente:', error);
                });
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener('click', function (event) {
            const btnEliminar = event.target.closest('.btn-eliminar');
            if (btnEliminar) {
                eliminarCliente(btnEliminar);
            }
        });
    });
</script>
{% endblock %}