{% extends "inventario/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                        <li class="breadcrumb-item active">Productos</li>
                    </ol>
                </div>
                <h3 class="page-title">Productos</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <a href="javascript:void(0);" class="btn btn-danger mb-2" id="agregarProducto"><i
                                    class="mdi mdi-plus-circle me-2"></i>Agregar producto</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2 me-1"><i
                                        class="mdi mdi-cog-outline"></i></button>
                                <button type="button" class="btn btn-light mb-2 me-1">Importar</button>
                                <a class="btn btn-light mb-2" href="{% querystring '_export'='xlsx' %}">
                                    <i class="fa-solid fa-file-excel"></i> Exportar a excel
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="productos-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th class="all" style="width: 20px;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="all">Nombre</th>
                                    <th>Categoría</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                    <th>Unidad</th>
                                    <th style="width: 85px;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        {{ producto.nombre }}
                                    </td>
                                    <td>
                                        {{ producto.categoria }}
                                    </td>
                                    <td>
                                        {{ producto.precio }}
                                    </td>
                                    <td>
                                        {{ producto.stock }}
                                    </td>
                                    <td>
                                        {{ producto.unidad }}
                                    </td>

                                    <td class="table-action d-flex justify-content-center gap-2">
                                        <button type="button"
                                            class="btn btn-bg font-14 btn-success btn-ver d-inline-flex"
                                            data-id="{{ producto.producto_id }}">
                                            <i class="mdi mdi-eye-outline"></i> Ver
                                        </button>
                                        <button type="button"
                                            class="btn btn-bg font-14 btn-warning btn-editar d-inline-flex"
                                            data-id="{{ producto.producto_id }}">
                                            <i class="mdi mdi-square-edit-outline"></i> Editar
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm btn-eliminar d-inline-flex"
                                            data-id="{{ producto.producto_id }}">
                                            <i class="mdi mdi-delete"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ventana" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="formUnidad" class="needs-validation">
                            {% csrf_token %}
                            <input type="hidden" name="producto_id" id="producto_id" value="">
                            <div class="modal-header py-3 px-4 border-bottom-0">
                                <h5 class="modal-title" id="modalTitle">Agregar un producto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-4 pb-4 pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Nombre del producto</label>
                                            <input class="form-control" placeholder="Ingresa el nombre del producto"
                                                type="text" name="nombre" id="nombre" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Descripción del producto</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion" rows="1"
                                                placeholder="Ingresa la descripción del producto"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Categoría del producto</label>
                                            <select class="form-control" name="categoria_id" id="categoria_id" required>
                                                <option value="">Seleccione categoría</option>
                                                {% for categoria in categorias %}
                                                <option value="{{ categoria.categoria_id }}">
                                                    {{ categoria.nombre }}
                                                </option>
                                                {% empty %}
                                                <option disabled>No hay categorías registradas</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Precio del producto</label>
                                            <input class="form-control" placeholder="Ingresa el precio del producto"
                                                type="number" name="precio" id="precio" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Stock del producto</label>
                                            <input class="form-control" placeholder="Stock del producto" type="number"
                                                name="stock" id="stock" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Fecha de expiración del
                                                producto</label>
                                            <input class="form-control" placeholder="Fecha de expiración del producto"
                                                type="date" name="fecha_expiracion" id="fecha_expiracion" />
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Unidad de medida del
                                                producto</label>
                                            <select class="form-control" name="unidad_id">
                                                <option value="">Seleccione unidad de medida</option>
                                                {% for unidad in unidades %}
                                                <option value="{{ unidad.unidad_id }}">
                                                    {{ unidad.nombre }}
                                                </option>
                                                {% empty %}
                                                <option disabled>No hay unidades registradas</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Código de barras</label>
                                            <input class="form-control" placeholder="Código de barras del producto"
                                                type="text" name="codigo_barras" id="codigo_barras" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-danger"
                                                id="cancelarProducto">Cancelar</button>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button type="submit" class="btn btn-success"
                                                id="btn-save-event">Guardar</button>
                                        </div>
                                    </div>

                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>
        </div>
    </div>
</div>

<script>
    // Función para obtener el token CSRF
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Función para mostrar notificaciones
    function mostrarToast(tipo, mensaje) {
        const toastContainer = document.getElementById('toastContainer');
        const toastEl = document.createElement('div');
        toastEl.className = `toast align-items-center text-white bg-${tipo} border-0`;
        toastEl.innerHTML = `
        <div class="d-flex">
            <div class="toast-body">${mensaje}</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    `;
        toastContainer.appendChild(toastEl);
        new bootstrap.Toast(toastEl).show();
        setTimeout(() => toastEl.remove(), 10000);
    }

    // Función para cargar datos de unidad en el modal
    function cargarDatosUnidad(productoId) {
        fetch(`/inventario/productos/${productoId}/`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => {
                if (!response.ok) throw new Error("Error en la respuesta del servidor");
                return response.json();
            })
            .then(data => {

                if (data.success) {
                    // Actualizar campos del formulario
                    document.getElementById('producto_id').value = data.producto.producto_id;
                    document.getElementById('nombre').value = data.producto.nombre;
                    document.getElementById('descripcion').value = data.producto.descripcion || '';
                    document.querySelector(`select[name="categoria_id"] option[value="${data.producto.categoria_id}"]`).selected = true;
                    document.getElementById('precio').value = data.producto.precio || '';
                    document.getElementById('stock').value = data.producto.stock || '';
                    document.getElementById('fecha_expiracion').value = data.producto.fecha_expiracion || '';
                    if (data.producto.unidad_id) {
                        document.querySelector(`select[name="unidad_id"] option[value="${data.producto.unidad_id}"]`).selected = true;
                    } else {
                        document.querySelector(`select[name="unidad_id"] option[value=""]`).selected = true;
                    }
                    document.getElementById('codigo_barras').value = data.producto.codigo_barras || '';

                    const vistaPrevia = document.getElementById('vista_previa');

                    // Actualizar título del modal
                    document.getElementById('modalTitle').textContent = 'Editar producto';

                    // Mostrar modal
                    const ventana = new bootstrap.Modal(document.getElementById("ventana"));
                    ventana.show();
                } else {
                    console.log('Error al cargar datos del producto:', data.message);
                    mostrarToast('danger', 'Error al cargar datos del producto');
                }
            })
            .catch(error => {
                console.error('Error al cargar datos del producto:', error);
                mostrarToast('danger', 'Error en la conexión, values no encontrados: ' + error.message);
            });
    }

    function agregarUnidadATabla(producto) {
        const tabla = document.querySelector('#productos-datatable tbody');
        const nuevaFila = document.createElement('tr');

        nuevaFila.innerHTML = `
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="customCheck2">
                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                </div>
            </td>
            <td>${producto.nombre}</td>
            <td>${producto.categoria || ''}</td>
            <td>${producto.precio}</td>
            <td>${producto.stock}</td>
            <td>${producto.unidad}</td>
            <td class="table-action d-flex justify-content-center gap-2">
                <button type="button"
                    class="btn btn-bg font-14 btn-success btn-ver d-inline-flex"
                    data-id="${producto.producto_id}">
                    <i class="mdi mdi-eye-outline"></i> Ver
                </button>
                <button type="button"
                    class="btn btn-bg font-14 btn-warning btn-editar d-inline-flex"
                    data-id="${producto.producto_id}">
                    <i class="mdi mdi-square-edit-outline"></i> Editar
                </button>
                <button type="button" class="btn btn-danger btn-sm btn-eliminar d-inline-flex"
                    data-id="${producto.producto_id}">
                    <i class="mdi mdi-delete"></i> Eliminar
                </button>
            </td>
        `;

        // Agregar al inicio de la tabla
        if (tabla.children.length > 0) {
            tabla.insertBefore(nuevaFila, tabla.firstChild);
        } else {
            tabla.appendChild(nuevaFila);
        }
    }

    function formatearFecha(fechaISO) {
        const fecha = new Date(fechaISO);
        return new Intl.DateTimeFormat('es-PE', {
            day: 'numeric',
            month: 'long',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        }).format(fecha).replace(',', ' a las');
    }

    // Función para agregar nueva categoría a la tabla
    function actualizarFilaUnidad(producto) {
        console.log('Actualizando fila para el producto:', producto);
        const fila = document.querySelector(`button[data-id="${producto.producto_id}"]`).closest('tr');

        if (fila) {
            fila.querySelector('td:nth-child(2)').textContent = producto.nombre || '';
            fila.querySelector('td:nth-child(3)').textContent = producto.categoria || '';
            fila.querySelector('td:nth-child(4)').textContent = producto.precio || '';
            fila.querySelector('td:nth-child(5)').textContent = producto.stock || '';
            fila.querySelector('td:nth-child(6)').textContent = producto.unidad || '';
        }
    }

    // Función para guardar cambios de unidad
    function guardarUnidad(event) {
        event.preventDefault();
        const form = event.target;

        if (!form.checkValidity()) {
            event.stopPropagation();
            form.classList.add('was-validated');
            return;
        }

        const formData = new FormData(form);
        const productoId = formData.get('producto_id');
        const data = {};
        formData.forEach((value, key) => data[key] = value);
        console.log(`data:`, data);
        const method = productoId ? 'PUT' : 'POST';
        const url = productoId
            ? "{% url 'metodosProductos' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', productoId)
            : "{% url 'listaProductos' %}";

        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errData => {
                        throw new Error(errData.message || 'Error en la respuesta del servidor');
                    });
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    const ventana = bootstrap.Modal.getInstance(document.getElementById("ventana"));
                    ventana.hide();

                    mostrarToast('success', data.message);

                    if (productoId) {
                        actualizarFilaUnidad(data.producto);
                    } else {
                        agregarUnidadATabla(data.producto);
                    }
                    form.reset();
                    form.classList.remove('was-validated');
                } else {
                    console.log('Error al guardar unidad:', data.message);
                    mostrarToast('danger', data.message || 'Error al guardar');
                }
            })
            
            .catch(error => {
                console.log('Error al guardar unidad:', error);
                mostrarToast('danger', 'Error en la conexión: unidad: ' + error.message);
            });
            
    }

    // Función para eliminar una categoría
    function eliminarUnidad(btnEliminar) {
        const productoId = btnEliminar.getAttribute('data-id');
        const fila = btnEliminar.closest('tr');

        if (confirm('¿Estás seguro de que deseas eliminar este producto?')) {
            // Deshabilitar botón durante la solicitud
            btnEliminar.disabled = true;
            btnEliminar.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Eliminando...';

            fetch(`{% url 'metodosProductos' '00000000-0000-0000-0000-000000000000' %}`.replace('00000000-0000-0000-0000-000000000000', productoId), {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => {
                    if (!response.ok) throw new Error("Error en la respuesta del servidor");
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        fila.remove();
                        mostrarToast('success', data.message);
                    } else {
                        btnEliminar.disabled = false;
                        btnEliminar.innerHTML = '<i class="mdi mdi-delete"></i> Eliminar';
                        console.log('Error al eliminar unidad:', data.message);
                        mostrarToast('danger', data.message || 'Error al eliminar');
                    }
                })
                .catch(error => {
                    btnEliminar.disabled = false;
                    btnEliminar.innerHTML = '<i class="mdi mdi-delete"></i> Eliminar';
                    console.error('Error al eliminar unidad:', error);
                    mostrarToast('danger', 'Error en la conexión: ' + error.message);
                });
        }
    }

    // Eventos cuando el DOM está listo
    document.addEventListener("DOMContentLoaded", function () {
        const agregarBtn = document.getElementById("agregarProducto");
        const cancelarBtn = document.getElementById("cancelarProducto");
        const ventana = new bootstrap.Modal(document.getElementById("ventana"));
        const form = document.getElementById("formUnidad");

        document.addEventListener('click', function (event) {
            const btnEditar = event.target.closest('.btn-editar');
            if (btnEditar) {
                const productoId = btnEditar.getAttribute('data-id');
                cargarDatosUnidad(productoId);
            }
        });

        // Abrir modal
        if (agregarBtn) {
            agregarBtn.addEventListener("click", function () {
                form.reset();
                document.getElementById('producto_id').value = '';
                ventana.show();
            });
        }

        // Cerrar modal
        if (cancelarBtn) {
            cancelarBtn.addEventListener("click", function () {
                ventana.hide();
            });
        }

        // Guardar nueva categoría
        if (form) {
            form.addEventListener('submit', guardarUnidad);
        }

        // Delegación de eventos para los botones eliminar
        document.addEventListener('click', function (event) {
            const btnEliminar = event.target.closest('.btn-eliminar');
            if (btnEliminar) {
                eliminarUnidad(btnEliminar);
            }
        });
    });
</script>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}