{% extends "inventario/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block content %}
<script src="{% static 'js/general/purify.js' %}"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'listaProductos' %}">Inventario</a></li>
                        <li class="breadcrumb-item active">Productos</li>
                    </ol>
                </div>
                <h3 class="page-title">Productos</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <a href="javascript:void(0);" class="btn btn-danger mb-2" id="agregarProducto"><i
                                    class="mdi mdi-plus-circle me-2"></i>Agregar producto</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="text-sm-end">
                                <a class="btn btn-light mb-2" href="{% querystring '_export'='xlsx' %}">
                                    <i class="mdi mdi-file-excel"></i> Exportar a excel
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="productos-datatable">
                            <thead class="table-light">
                                <tr>
                                    <th class="all">Nombre</th>
                                    <th>Categoría</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                    <th>Unidad</th>
                                    <th class="w-85">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <td>
                                        {{ producto.nombre }}
                                    </td>
                                    <td>
                                        {{ producto.categoria }}
                                    </td>
                                    <td>
                                        {{ producto.precio }}
                                    </td>
                                    <td>
                                        {{ producto.stock }}
                                    </td>
                                    <td>
                                        {{ producto.unidad|default_if_none:'-' }}
                                    </td>

                                    <td class="table-action d-flex justify-content-center gap-2">
                                        <button type="button"
                                            class="btn btn-bg font-14 btn-success btn-ver d-inline-flex"
                                            data-id="{{ producto.producto_id }}">
                                            <i class="mdi mdi-eye-outline"></i> Ver
                                        </button>
                                        <button type="button"
                                            class="btn btn-bg font-14 btn-warning btn-editar d-inline-flex"
                                            data-id="{{ producto.producto_id }}">
                                            <i class="mdi mdi-square-edit-outline"></i> Editar
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm btn-eliminar d-inline-flex"
                                            data-id="{{ producto.producto_id }}"
                                            data-metodo-url="{% url 'metodosProductos' '00000000-0000-0000-0000-000000000000' %}">
                                            <i class="mdi mdi-delete"></i> Eliminar
                                        </button>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <div id="productos-config"
                                data-metodo-url="{% url 'metodosProductos' '00000000-0000-0000-0000-000000000000' %}">
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ventana" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="formUnidad" class="needs-validation"
                            data-metodo-url="{% url 'metodosProductos' '00000000-0000-0000-0000-000000000000' %}"
                            data-lista-url="{% url 'listaProductos' %}">
                            {% csrf_token %}
                            <input type="hidden" name="producto_id" id="producto_id" value="">
                            <div class="modal-header py-3 px-4 border-bottom-0">
                                <h5 class="modal-title" id="modalTitle">Agregar un producto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-4 pb-4 pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Nombre del producto</label>
                                            <input class="form-control" placeholder="Ingresa el nombre del producto"
                                                type="text" name="nombre" id="nombre" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Descripción del producto</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion" rows="1"
                                                placeholder="Ingresa la descripción del producto"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Categoría del producto</label>
                                            <select class="form-control" name="categoria_id" id="categoria_id" required>
                                                <option value="">Seleccione categoría</option>
                                                {% for categoria in categorias %}
                                                <option value="{{ categoria.categoria_id }}">
                                                    {{ categoria.nombre }}
                                                </option>
                                                {% empty %}
                                                <option disabled>No hay categorías registradas</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Precio del producto</label>
                                            <input class="form-control" placeholder="Ingresa el precio del producto"
                                                type="number" name="precio" id="precio" step="0.01" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Stock del producto</label>
                                            <input class="form-control" placeholder="Stock del producto" type="number"
                                                name="stock" id="stock" required />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Fecha de expiración del
                                                producto</label>
                                            <input class="form-control" placeholder="Fecha de expiración del producto"
                                                type="date" name="fecha_expiracion" id="fecha_expiracion" />
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Unidad de medida del
                                                producto</label>
                                            <select class="form-control" name="unidad_id">
                                                <option value="">Seleccione unidad de medida</option>
                                                {% for unidad in unidades %}
                                                <option value="{{ unidad.unidad_id }}">
                                                    {% if unidad.nombre == '' %}
                                                    Sin unidad
                                                    {% else %}
                                                    {{ unidad.nombre }}
                                                    {% endif %}
                                                </option>
                                                {% empty %}
                                                <option disabled>No hay unidades registradas</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Código de barras</label>
                                            <input class="form-control" placeholder="Código de barras del producto"
                                                type="text" name="codigo_barras" id="codigo_barras" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-danger"
                                                id="cancelarProducto">Cancelar</button>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button type="submit" class="btn btn-success"
                                                id="btn-save-event">Guardar</button>
                                        </div>
                                    </div>

                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>
        </div>
    </div>
</div>

<script src="{% static 'js/listas/listaProductos.js' %}"></script>
<script src="{% static 'js/listas/listas.js' %}"></script>

{% endblock content %}