{% extends "inventario/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block content %}
<link href="{% static 'css/ventas_cdn.css' %}" rel="stylesheet" />
<div class="container fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Compras</a></li>
                        <li class="breadcrumb-item active">Crear compra</li>
                    </ol>
                </div>
                <h3 class="page-title">Crear compra</h3>
            </div>
        </div>
    </div>

    <form id="form_sale" action="{% url 'crearCompra' %}" class="saleForm" method="post">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Detalles de la compra</h5>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="customer" class="form-label">Proveedor</label>
                            <select name="customer" class="form-select" id="customer" aria-label="Customer" required>
                                <option value="" selected disabled hidden>Seleccionar proveedor</option>
                                {% for proveedor in proveedores %}
                                <option value="{{ proveedor.proveedor_id }}">{{ proveedor.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="metodo_pago" class="form-label">Método de pago</label>
                            <select name="metodo_pago" class="form-select" id="metodo_pago" required>
                                <option value="EF" selected>Efectivo</option>
                                <option value="TR">Tarjeta</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="estado_pago" class="form-label">Estado de pago</label>
                            <select name="estado_pago" class="form-select" id="estado_pago" required>
                                <option value="CT" selected>Completado</option>
                                <option value="PD">Pendiente</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="estado_envio" class="form-label">Estado de envio</label>
                            <select name="estado_envio" class="form-select" id="estado_envio" aria-label="Customer"
                                required>
                                <option value="ET" selected>Entregado</option>
                                <option value="EV">En envio</option>
                                <option value="PT">Pendiente</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="total" class="form-label">Total</label>
                            <input name="total" type="number" class="form-control" id="total" aria-label="Subtotal"
                                readonly>
                        </div>
                        <div class="mb-3">
                            <label for="impuesto" class="form-label">Monto de impuesto (18%)</label>
                            <input name="impuesto" type="number" class="form-control" id="impuesto" readonly>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Crear venta</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Seleccionar productos</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="searchbox_items" class="form-label">Buscar productos:</label>
                            <select class="form-select select2" name="searchbox_items" id="searchbox_items"
                                aria-label="Search items"></select>
                        </div>

                        <button type="button" class="btn btn-danger btn-sm mb-4 deleteAll">
                            <i class="mdi mdi-delete"></i> Eliminar todos los productos
                        </button>

                        <div class="table-responsive my-3">
                            <table class="table table-bordered table-striped" id="table_items">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="config-data"
            data-url-proveedores="{% url 'obtenerProveedores' %}"
            data-url-productos="{% url 'obtenerProductos' %}">
        </div>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}" defer></script>
<script src="{% static 'js/ventas_cdn.js' %}"></script>
<script src="{% static 'js/compras.js' %}"></script>

{% endblock javascripts %}